* {
  box-sizing: border-box;
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.header_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
}
.logo_img {
  margin-bottom: 27px;
  margin-top: 40px;
}
.navigation {
  width: 1400px;
}
.nav_list,
.footer_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
.nav_item {
  text-transform: uppercase;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.intro{
  height: 460px;
  background-image: url('./img/underwater-hotel.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
}
.container_intro{
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_span{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 72px;
  font-weight: 100;
  color: white;
  margin-top: 100px;
}
.intro_description{
  width: 480px;
  text-align: center;
  margin-top: 120px;
}
.intro_text{
  color: #e3e2e2;
  font-weight: 100;
  font-size: 15px;
  line-height: 25px;
}
.views{
  height: 460px;
}
.container_views{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.views_blocks{
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
}
.views_block{
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 19px;
}
.views_block:last-child{
  margin-right: 0;
}
h3{
  text-transform: uppercase;
}
.view_heading{
  margin-top: 47px;
  margin-bottom: 20px;
}
.view_link{
  font-family: 'Yeseva One', cursive;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.abonements,
.abonements_block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.abonements_block{
  width: 700px;
  height: 612px;
  border-radius: 60%;
  background-color: white;
}
.abonements{
  box-sizing: border-box;
  background-color: #f7f7f7;
}
.heading_ab{
  margin-top: 35px;
}
.sale_link,
.sits_link,
.autograph_link{
  font-family: 'Yeseva One', cursive;
  font-size: 24px;
  font-weight: bold;
}
.sale_block,
.sits_block,
.autograph_block{
  width: 420px;
  text-align: center;
  margin-top: 27px;
}
.watch{
  height: 50px;
  width: 170px;
  background-color: #ff7931;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
  margin-top: 25px;
}
footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #575757;
}
.logo_white{
  margin-top: 35px;
}
.footer_nav{
  margin-top: 23px;
}
.footer_nav_link{
  color: white;
  margin-right: 55px;
}
.socials{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.instagram,
.facebook,
.twitter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
}
.instagram,
.facebook{
  margin-right: 10px;
}